#header {
    position: fixed; top: 0%;
    background-color: #4285F4;
    height: 50px;
    width: 120%;
    margin-left: -10px;
    border-bottom: 1px solid #e0e0e0;
}

#createGameLobbyComponentContainer {
    position: relative; 
    height: 100%;
    width: 100%;
    text-align: center;
}

#gameLobbyCode {
    position: fixed; left: 20px; top: -10px;
    font-family: arial;
    font-size: 22px;
    color: white;
}

#waitingForFriend {
    font-size: 22px;
    color: #333333;
    vertical-align: middle;
    margin-top: 150px;
}

#waitingForFriendAnimation {
    position: absolute; left: 6%; top: 33%; 
    border: 5px solid #4285F4; 
    border-top: 5px solid #f1f1f1;
    border-left: 5px solid #f1f1f1;
    border-right: 5px solid #f1f1f1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #playerOneContainer {
      position: relative; 
      float: left;
      margin: auto;
      height: 100px;
      width: 300px;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
      -moz-box-shadow:    0 1px 4px 0 rgba(0,0,0,0.2);
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
      overflow: hidden;
      border-radius: 5px;
      text-align: center;
      line-height: 98px;
      color: #333333;
      font-size: 25px;
      cursor: context-menu;
  }

  #playerTwoContainer {
    position: relative; 
    margin: auto;
    margin-top: 10px;
    height: 100px;
    width: 300px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:    0 1px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    line-height: 98px;
    color: #333333;
    font-size: 25px;
    cursor: context-menu;
  }

  #playerTwoContainerWaiting {
    position: relative; 
    margin: auto;
    height: 100px;
    width: 300px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:    0 1px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    line-height: 98px;
    color: #333333;
    cursor: context-menu;
  }

  #playerContainer {
    margin: auto;
    position: relative; top: 100px;
    width: 34%;
    height: 100%;
  }


  #checkmarkDiv {
    position: absolute; left: 6%; top: 33%; 
  }

  #otherUserCheckMarkDiv {
    position: absolute; left: 6%; top: 33%; 
  }

  #startGameBtnDiv {
    position: absolute; top: 23%; left: 40%;
  }

  #startGameBtn {
    position: relative; left: 31%; 
    margin-top: 4%;
    display: block;
    min-width: 200px;
    min-height: 5%;
    background-color: #43b72a;
    color: white;
    text-align: center; 
    line-height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    opacity: 0;
    animation-name: startGameBtnFadeInAnimation;
    -webkit-animation-name: startGameBtnFadeInAnimation;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
     animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 1.2s;
  }

  #startGameBtn:hover {
    opacity: 0.8 !important;
}


  @keyframes startGameBtnFadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
