#findGameComponentContainer {
    height: 50%;
    width: 22%;
    margin: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F2F3F5;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(7, 7, 10, 0.3);
	-moz-box-shadow:    5px 5px 20px 0px rgba(7, 7, 10, 0.3);
    box-shadow:         5px 5px 20px 0px rgba(7, 7, 10, 0.3);
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
}