body {
    overflow: hidden;
}

#joinGameLobbyComponentHeader {
    position: fixed; top: 0%;
    background-color: white;
    height: 50px;
    width: 120%;
    margin-left: -10px;
}

#joinGameLobbyComponentContainer {
    height: 50%;
    width: 20%;
    margin: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.15);
    overflow: hidden;
}

#waitingForCreator {
    position: relative; left: 31%; 
    margin-top: 4%;
    display: block;
    animation-name: waitingForCreatorFadeInAnimation;
    -webkit-animation-name: waitingForCreatorFadeInAnimation;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
     animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 1.2s;
    opacity: 0;
}

@keyframes waitingForCreatorFadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
