#newGameComponentContainer {
    height: 50%;
    width: 22%;
    margin: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 0 3px 7px -1px rgba(#000, .1);
    -moz-box-shadow:    0 3px 7px -1px rgba(#000, .1);
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #E1E1E1;
}

#welcomeUser {
    position: fixed;
    top: 12%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 22px;
}

#createGameButtton {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: 8%;
    height: 10%;
    width: 40%;
    border: none;
    outline: none;
    background-color: #43b72a;
    color: white;
    text-align: center; 
    border-radius: 5px;
    font-size: 18px;
}

#joinGameButton {
    position: fixed;
    top: 62%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: 8%;
    height: 10%;
    width: 40%;
    border: none;
    outline: none;
    background-color: #43b72a;
    color: white;
    text-align: center; 
    border-radius: 5px;
    font-size: 18px;
}

#randomGameButton {
    position: fixed;
    top: 74%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: 8%;
    height: 10%;
    width: 40%;
    border: none;
    outline: none;
    background-color: #43b72a;
    color: white;
    text-align: center; 
    border-radius: 5px;
    font-size: 18px;
}

#createGameButtton:hover {
    opacity: 0.5;
}

#joinGameButton:hover {
    opacity: 0.5;
}

#randomGameButton:hover {
    opacity: 0.5;
}