#newGameComponentContainer {
    height: 50%;
    width: 22%;
    margin: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F2F3F5;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(7, 7, 10, 0.3);
	-moz-box-shadow:    5px 5px 20px 0px rgba(7, 7, 10, 0.3);
    box-shadow:         5px 5px 20px 0px rgba(7, 7, 10, 0.3);
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
}

#welcomeUser {
    position: fixed;
    top: 12%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: aerial;
    font-size: 22px;
}

#createGameButtton {
    position: fixed;
    top: 52%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: 8%;
    border: none;
    background-color: #1D73DA;
    outline: none;
    color: white;
    font-family: aerial;
    font-size: 22px;
}

#joinGameButton {
    position: fixed;
    top: 62%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: 8%;
    border: none;
    background-color: #1D73DA;
    outline: none;
    color: white;
    font-family: aerial;
    font-size: 22px;
}

#randomGameButton {
    position: fixed;
    top: 72%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: 8%;
    border: none;
    background-color: #1D73DA;
    outline: none;
    color: white;
    font-family: aerial;
    font-size: 22px;
}

#createGameButtton:hover {
    background-color: #48a2fa;
}

#joinGameButton:hover {
    background-color: #48a2fa;
}

#randomGameButton:hover {
    background-color: #48a2fa; 
}