body {
    background-color: #7e8491;
}

#startScreenContainer {
    height: 50%;
    width: 22%;
    margin: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F2F3F5;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(7, 7, 10, 0.3);
	-moz-box-shadow:    5px 5px 20px 0px rgba(7, 7, 10, 0.3);
    box-shadow:         5px 5px 20px 0px rgba(7, 7, 10, 0.3);
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
}

#startScreenUserNameField {
    outline: none;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 5%;
    width: 70%;
    color: black;
    font-size: 1.0vw;
    font-family: aerial;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #c5c9c7;
    padding-bottom: 10px;
    background-color: #F2F3F5;
}

#continueButton {
    position: fixed;
    top: 62%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: 8%;
    border: none;
    background-color: #1D72DC;
    outline: none;
    color: white;
    font-family: aerial;
    font-size: 20px;
}

#continueButton:hover {
    background-color: #48a2fa;
}

#startScreenLogo {
    position: fixed;
    top: 9%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: aerial;
    font-size: 40px;
}

#errorMessage {
    font-family: aerial;
    position: fixed; left: 33%; top: 68%;
    color: red;
}